[submodule "plugins/ipynb"]
	path = plugins/ipynb
	url = git://github.com/danielfrg/pelican-ipynb.git
[submodule "crowsfoot"]
	path = crowsfoot
	url = https://github.com/porterjamesj/crowsfoot.git
[submodule "themes/crowsfoot"]
	path = themes/crowsfoot
	url = https://github.com/porterjamesj/crowsfoot.git
