<h2>About Me</h2>
<p>I am a computer scientist working at the intersection of artificial intelligence and cognitive science. I am interested in using a combination of theory, data and psychological theories to inform the design of human-aware algorithms and interfaces.</p> 

<p>I received my PhD (2015-2020) from the <a href="https://cs.tulane.edu/">Department of Computer Science</a> at <a href="https://tulane.edu">Tulane University</a>, where I was supervised by <a href="https://sites.google.com/site/kbrentvenable/">K. Brent Venable</a>.</p>


<h3>Recent Publications</h3>

<ul class="pubs">
    <li><b>Dissertation: Computational Models of Heuristics and Bias in Human Behavior</b><br />
        <a href="pdfs/dissertation-front-matter.pdf">Front Matter</a> &middot; <a href="pdfs/dissertation-chapter1.pdf">Chapter 1: Introduction</a> &middot; <a href="pdfs/dissertation-chapter2.pdf">Chapter 2: Preliminaries</a> &middot; <a href="pdfs/dissertation-chapter3.pdf">Chapter 3: Bias in a Spatial Auditory Attention Task</a> &middot; <a href="pdfs/dissertation-chapter4.pdf">Chapter 4: Confirmation Bias in a Probabilistic Learning Task</a> &middot; <a href="pdfs/dissertation-chapter5.pdf">Chapter 5: Heuristics and Biases in Approval Voting</a> &middot; <a href="pdfs/dissertation-chapter6.pdf">Chapter 6: Conclusion</a> &middot; <a href="pdfs/dissertation-bib.pdf">Bibliography</a>
    </li>
    
    <li><b>Heuristic Strategies in Uncertain Approval Voting Environments</b><br />
    Jaelle Scheuerman, Jason L. Harman, Nicholas Mattei, K. Brent Venable<br />
    Preprint. [<a href="pdfs/heuristic-strategies-uncertain-approval-voting-environments.pdf">Download</a>] </li>

    
    <li><b>On Interactive Machine Learning and the Potential of Cognitive Feedback</b><br />
    Chris J. Michael, Dina Acklin, Jaelle Scheuerman<br />
    2nd Workshop on Deep Models and Artificial Intelligence for Defense Applications, 2020. [<a href="pdfs/interactive-machine-learning-dmaida.pdf">Download</a>] </li>

    
    <li><b>Modeling Spatial Auditory Attention in ACT-R: A Constraint-Based Approach</b><br />
        Jaelle Scheuerman, K. Brent Venable, Maxwell T. Anderson, Edward J. Golob<br />
        Postproceedings of the 9th Annual International Conference on Biologically Inspired Cognitive Architectures, BICA 2018. [<a href="pdfs/actr-auditory-attention-main.pdf">Download</a>] </li>
</ul>
